/* 
Fonts: 
body - Open Sans | font-family: 'Open Sans', sans-serif;
featured - Montserrat | font-family: 'Montserrat', sans-serif;
text-lato - Lato for copyright at bottom of page

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Universal Reset */
* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
    }

img {
    max-width: 100%;
    display: block;
    }


/* Typography */

body            { font-family: 'Poppins', sans-serif;  }
.featured-text  { font-family: 'Paytone One', sans-serif; }

    