
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    max-width: 100%;
    display: block;
    }


/* Typography */

body            { font-family: 'Poppins', sans-serif;  }
.featured-text  { font-family: 'Paytone One', sans-serif; }

/* Link & button styles */

.button {
    font-family: 'Paytone One', sans-serif; 
    color: var(--featured-light-color);
    background-color: var(--featured-color);
    border-radius: 5px 25px 25px 25px;
    padding: .75rem 1.25rem;
    display: inline-block;

}
