<section class="mx-auto py-32 px-8 sm:px-16 {{block.bg-color}} {{block.text-color}}">
  <div class="grid lg:grid-cols-3 gap-6">
    
    <img class="col-span-2 w-full h-full object-cover order-firdt lg:order-none" style="object-position: {{block.image-horizontal-focal-point}} {{block.image-vertical-focal-point}}" src="{{block.image}}" alt="{{block.alt}}">

    <!-- Secondary Heading -->
    <div class="col-span-1 {% if block.image-placement == 'right' %} pl-0 lg:pr-12 lg:order-first {% endif %} self-center">
      <div>
        <h3 class="uppercase font-bold text-2xl pb-4 pt-10 lg:pt-0">{{block.heading}}</h3>
      </div>
      <p class="pb-4">{{block.text}}</p>
      <div class="pt-6">
        {% if block.button-link and block.button-text %}
        <a href="{{block.button-link}}" class="button {{block.bg-color}}">{{block.button-text}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>