<div class="px-16 py-24 bg-featured">

  {% if block.section-heading %}

  <h2 class="pb-8 featured-text text-6xl text-mustard">{{block.section-heading}}</h2>

  {% endif %}

  <div class="gap-6 p-16 pt-6 {% if items.size > 3 %} flex overflow-x-auto w-full {% else %} grid md:grid-cols-3 {% endif %}">

    {% for item in site.data.services | limit:3 %}

      <!-- Card Loop -->
      <div class="rounded-[5px_25px] bg-base-light text-center {% if items.size > 3 %} basis-[30%] shrink-0 {% endif %}">
        <div class="">
          <img class="aspect-square rounded-[5px_25px]  object-cover w-full" src="{{item.image}}" alt="{{item.alt}}">
        </div>
        <div class="p-4 pb-8">
          <h3 class="featured-text py-4 text-2xl">{{item.heading}}</h3>
          <p class="p-4 pb-10">{{item.short-description}}</p>

          {% if item.button-link and item.button-text %}

          <a href="{{item.button-link}}" class="button"> {{item.button-text}} </a>

          {% endif %}

        </div>
      </div>
    
    {% endfor %}

  </div>
  
</div>