<div class="px-8 sm:px-16 py-32 bg-featured-md">

  {% if block.section-heading %}

  <h2 class="pb-8 featured-text text-5xl sm:text-6xl text-cream">{{block.section-heading}}</h2>

  {% endif %}

  <div class="gap-6 pt-6 {% if items.size > 3 %} flex overflow-x-auto w-full {% else %} grid md:grid-cols-3 {% endif %}">

    {% for item in site.data.pricing.card-loop %}

      <!-- Card Loop -->
      <div class="rounded-[5px_25px] bg-cream {% if items.size > 3 %} basis-[30%] shrink-0 {% endif %}">
        <div class="">
          <img class="aspect-square rounded-[5px_25px_0px_0px]  object-cover w-full" src="{{item.image}}" alt="{{item.alt}}">
        </div>
        <div class="p-5 sm:p-8 pb-8">
          <h3 class="featured-text py-4 text-2xl">{{item.heading}}</h3>

          {% if item.subtitle %}
          <p class="pb-4 font-bold italic text-cherry">{{item.subtitle}}</p>
          {% endif %}

          {% for item in item.list-loop %}
            {% if item.text %}
            <ol class="pb-1">
              <li><span class="">✔ </span>{{item.text}}</li>
            </ol>
            {% endif %}
          {% endfor %} 

          {% if item.short-description %}
          <p class="p-4 pb-10">{{item.short-description}}</p>
          {% endif %}

          {% if item.button-link and item.button-text %}
          <a href="{{item.button-link}}" class="button"> {{item.button-text}} </a>
          {% endif %}

        </div>
      </div>
    
    {% endfor %}

  </div>
  
</div>