<section class="py-32 px-8 sm:px-16">
  <div class="grid md:grid-cols-6 gap-6">
    <!-- md:h-full on the div negates the h-72, h-full on the image is still needed because of the position absolute -->
    <div class="relative aspect-square col-span-3 order-first md:order-none self-center"> 
      {% for dot in block.dots %}
      <div class="absolute overflow-hidden rounded-full" style="height:{{dot.dimensions}}; width:{{dot.dimensions}}; top:{{dot.top}}; left:{{dot.left}}; background:{{dot.color}}"> 
        <img class="content-center" src="{{dot.image}}" alt="{{dot.alt}}">
      </div>
        {% endfor %}

    
      <!-- color dot -->
      <div class="grow absolute h-[5vw] w-[5vw] -bottom-[3vw] -left-[3vw] rounded-full content-center bg-cherry"></div>
    </div>
    <!-- Secondary Heading -->
    <div class="col-span-3 pl-12 {% if block.image-placement == 'right' %} pl-0 pr-12 md:order-first {% endif %}">
      <div>
        <h3 class="featured-text text-3xl pb-6 pt-10 md:pt-0">{{block.heading}}</h3>
      </div>
      <p class="pb-3 featured-text">{{block.overline}}</p>
      <p class="pb-3">{{block.text}}</p>
      <p class="pb-3 featured-text text-yam">{{block.bold-colored-text}}</p>
      <div class="pt-8">
        {% if block.button-link and block.button-text %}
        <a href="{{block.button-link}}" class="button">{{block.button-text}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>