<section class="px-8 sm:px-16 py-28 bg-featured-md text-base-light">
  
  {% if block.section-heading %}

  <h2 class="featured-text text-5xl">{{block.section-heading}}</h2>

  {% endif %}

  <div class="relative">
    <form class="py-12 flex flex-col md:pr-12">
      <!-- Name -->
      <div class="py-6 md:pt-0">
    <label class="text-cream featured-text text-2xl tracking-wide font-semibold pb-2 block" for="_name"> Name </label>
      <input class="font-semibold text-featured border-featured border curved-border-bottom block w-full px-4 py-2 outline-none bg-base-light focus:bg-cream" type="text" name="_name" id="_name" placeholder="first and last names please" />  
      </div>
      <!-- Email -->
      <div class="pb-6">
      <label class="text-cream featured-text text-2xl tracking-wide font-semibold pb-2 block" for="_replyto"> Email </label>
      <input class="font-semibold text-featured border-featured border curved-border-bottom block w-full px-4 py-2 outline-none bg-base-light focus:bg-cream" type="email" name="_replyto" id="_replyto" placeholder="one you'll check" />
      </div>
      <!-- Message -->
      <div class="pb-6">
      <label class="text-cream featured-text text-2xl tracking-wide font-semibold pb-2 block" for="message">Tell us a bit about your business needs</label>
      <textarea class="px-4 py-2 block w-full font-semibold text-featured border-featured border curved-border-bottom outline-none bg-base-light focus:bg-cream" name="message" id="message" placeholder="I need an awesome landing page for my new business..."></textarea>
      </div>
      <!-- Button -->
      <div class="text-center">
      <button type="submit" class="button hover-cream"> Submit </button>
      </div>
    </form>
  </div>
</section>