<footer class="grid padded padded-b-0">
    <div class="col-6_sm-12">
        <h2 class="featured-text margin-b-0">DigiSphere Group</h2>
        <p class="editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="col-6_sm-12-bottom margin-t-2 text-right">
        <h3>Dubai, UAE</h3>
    </div>
</footer>

<div class="col-12 text-center bg-dark padded-05 padded-b-0">
    <p class="copyright text-lato">Copyright 2021</p>
</div>