<footer class="px-8 md:px-16 py-16 bg-featured text-base-light">
    <div class="justify-center grid lg:grid-cols-10 lg:justify-around">
        <div class="col-span-6 pr-8 pb-16 lg:pb-0">
            <div class="flex">
                <img src="/images/new-digisphere-logo.svg" class="max-w-16 sm:max-w-20 p-4 pl-0">
                <a href="/index.html" class="featured-text text-3xl sm:text-5xl text-cream content-center py-4 block">digisphere</a>
            </div>
            <p class="">Digisphere Group is an international digital marketing agency based in Dubai, UAE offering website development, copywriting, social media and advertising consultancy and more. </p>
        </div>
        <div class="grid grid-cols-2 col-span-4">
            <div class="col-span-2 sm:col-span-1 pb-8">
                <p class="text-2xl featured-text text-cream py-4">What we do</p>
                <a href="/portfolio-websites.html" class="block py-2">Portfolio Websites</a>
                <!-- <a href="#" class="block py-2">Copywriting</a> -->
                <!-- <a href="#" class="block py-2">Social Media</a> -->
                <!-- <a href="#" class="block">Photography</a> -->
            </div>
            <div class="col-span-2 sm:col-span-1">
                <p class="text-2xl featured-text text-cream py-4">Get in touch</p>
                <p class="py-2">info@digispheregroup.com</p>
                <p class="py-2">Dubai, UAE</p>
            </div>
        </div>
    </div>
</footer>

<div class="bg-featured text-base-light">
    <p class="text-center text-sm">Copyright 2021</p>
</div>
