<footer class="mx-auto bg-featured grid grid-col-6">
    <div class="col-span-3">
        <h2 class="featured-text text-4xl">digisphere</h2>
        <p class="">Digisphere Group is an international digital marketing agency based in Dubai, UAE offering social media and advertising consultancy, website development and more. </p>
    </div>
    <div>
        <div class="col-span-1">
            <p class="text-2xl featured-text">What we do</p>
            <a href="#">Web Development</a>
            <a href="#">Copywriting</a>
            <a href="#">Social Media</a>
            <a href="#">Photography</a>
        </div>
        <div class="col-span-1">
            <p class="text-2xl featured-text">Get in touch</p>
            <p>info@digispheregroup.com</p>
            <p>Dubai, UAE</p>
        </div>
    </div>
</footer>

<div class="bg-featured">
    <p class="text-center">Copyright 2021</p>
</div>