<section>
    <header class="grid-middle"> 
      <div>
        <a href="/index.html"> 
          <img class="logo-img" src="/images/The_DigiSphere_Logo_Dark_no_words.png">
          <h2 class="featured-text logo-text">DigiSphere</h2>
        </a>
      </div>
      <nav class="col-12 text-right mob-hide margin-tb-header-custom"> 
        <a href="/index.html"> Home </a>
        <a href="/services.html"> Services </a>
        <a href="/contact.html"> Contact Us </a> 
      </nav>
      <div class="mob-show col-12 mob-menu-bg-white"></div>
    </header>

    <div class="hamburger-button mob-show"> &#9776; </div>
    
    <div class="mobile-menu">
      <nav>
        <a href="/index.html"> Home </a>
        <a href="/services.html"> Services </a>
        <a href="/contact.html"> Contact Us </a> 
      </nav>
    </div>
  </section>
