<section class="bg-medium">
    <header class="grid-middle"> 
      <div class="logo-button">
        <a href="/index.html"> 
          <img class="padded" src="/images/The_DigiSphere_Logo_Dark_no_words.png">
        </a>
      </div>
      <div class="col-8 logo padded-l-2"> 
        <a href="/index.html"> 
          <h2 class="featured-text">DigiSphere <span class="mob-hide">Group</span></h2>
        </a>
      </div>
      <nav class="col-4 text-right mob-hide"> 
        <a href="/index.html"> Home </a>
        <a href="/services.html"> Services </a>
        <a href="/contact.html"> Contact Us </a> 
      </nav>
    </header>

    <div class="hamburger-button mob-show"> &#9776; </div>
    
    <div class="mobile-menu">
      <nav>
        <a href="/index.html"> Home </a>
        <a href="/services.html"> Services </a>
        <a href="/contact.html"> Contact Us </a> 
      </nav>
    </div>
  </section>
