<section class="px-8 sm:px-16 py-28">
  <h2 class="featured-text text-5xl text-center">{{block.section-heading}}</h2>
  <!-- columns-3 makes the columns rotate through, but break - then add break-inside-avoid to each div above the image in the loop -->
  <div class="lg:grid grid-cols-4 gap-10 text-center items-center py-16 columns-2">
    <!-- red column as the  one Dan helped with - overflow:hidden to crop the image nicely -->
    {% for col in block.column-loop %}
    <!-- RED COLUMN -->
    <div class="py-16 rounded-full text-base-light p-4 relative overflow-hidden flex items-center break-inside-avoid" style="background: {{col.color}}; height: {{col.height}};">
      <div class="">
        <h3 class="featured-text text-xl pb-3">{{col.heading}}</h3>
        {% if col.text %}
        <p>{{col.text}}</p>
        {% endif %}
      </div>
      <!-- <img class="absolute w-full bottom-0" src="{{col.image}}" alt="{{col.alt}}"> -->
    </div>
    {% endfor %}
  </div>
</section>